/*
@media screen and (max-width: 1530px){
    .profile-img img{
        width: 42vw;
        height: 45vw;
    }

    .about-details-container{
        width: 28vw;
    }
}
*/

@media screen and (max-width: 1265px){
    /*
    .about-details-container{
        width: 27vw;
    }
    */

    .profile{
        display: flex;
        flex-direction: column;
    }

    .profile-items{
        margin-top: 50px;
    }
    
    .profile-img img{
        width: 550px;
        height: 600px;
    }

    .profile-text1{
        font-size: 1.3rem;
    }
    
    .profile-text2{
        font-size: 3.3rem;
    }
    
    .profile-text3{
        font-size: 2.3rem;
    }

    .btn-container{
        font-size: 0.9rem;
    }
    
    .social-icons a{
        font-size: 1.4rem;
        width: 2.7rem;
        height: 2.7rem;
    }
}

@media screen and (max-width: 990px){
    .nav-links, .nav-btn{
        display: none;
    }

    .nav-toggle, .nav-dropdown-menu{
        display: block;
    }

    .about-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-details-container{
        padding: 1rem;
        width: 70vw;
    }

    .about-details-text{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .profile-img img{
        width: 85vw;
        height: 90vw;
    }

    .nav-dropdown-menu{
        left: 2rem;
        width: unset;
    }
}

