@media screen and (max-width: 1200px){
    .nav-links, .nav-btn{
        display: none;
    }

    .nav-toggle, .nav-dropdown-menu{
        display: block;
    }

    .nav-dropdown-menu{
        margin-left: auto;
        margin-right: auto;
    }

    .skill-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px){
    .nav-dropdown-menu{
        left: 2rem;
        right: 2rem;
        width: unset;
    }

    .profile-img-container img{
        width: 92vw;
        height: 100vw;
    }

    .skill-img .gifimg{
        width: 58vw;
        height: 58vw;
    }

    .contact-mail span{
        display: none;
    }

    .contact-mail{
        width: 200px;
    }
}
