@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body{
    height: 100vh;
    color: white;
    background: #002233;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.text-h1{
    font-weight: 600;
}

.centered-text{
    text-align: center; 
}

.hover-effect{
    transition: 0.3s ease;
}

.hover-effect:hover{
    transform: scale(1.05);
}

.section-container{
    position: relative;
    text-align: center;
    margin-top: 10rem;
}

/*Arrow Btn*/
#arrowbtn{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: #0066FF 0.2rem solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
  transition: 01s ease;
}

#arrowbtn:hover{
    transform: scale(1.05)translateY(-15px);
    box-shadow: 0px 7px 0 #0066FF;
}
/*Arrow Btn*/

/* Nav-Bar */
.nav-bar{
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 0;
    right: 0;
    width: 65%;
    height: 70px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 0 20px 0 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 50%);
}
/* Nav-Bar */

/*Nav Brand Name*/
.nav-logo a{
    color: #002233;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-logo span{
    color: #0066FF;
}
/*Nav Brand Name*/

/*Nav Bar Links*/
.nav-links a, .nav-dropdown-menu a{
    color: #002233;
    font-weight: 600;
    font-size: 1.1rem;
    display: block;
    position: relative;
}

.nav-links a:hover, .nav-dropdown-menu a:hover{
    color: #0066FF;
    font-weight: 600;
}

.nav-links a::before, .nav-dropdown-menu a::before{
    content:"";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #0066FF;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-links a:hover::before, .nav-dropdown-menu a:hover::before{
    width: 100%;
    visibility: visible;
}

.nav-links{
    display: flex;
    gap: 2rem;
}
/*Nav Bar Links*/

/* Nav Bar Download Btn */
.nav-btn{
    background-color: #0066FF;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-btn:hover{
    transform: scale(1.05);
    background-color: #002233;
}
/* Nav Bar Download Btn */

/*Nav Bar Drop Down Toggle*/
.nav-toggle{
    color: #002233;
    font-size: 2rem;
    position: relative;
    top: 5px;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}

.nav-toggle:hover{
    color: #0066FF;
    transform: scale(1.2);
}
/*Nav Bar Drop Down Toggle*/

/*Nav Bar Drop Down Menu*/
.nav-dropdown-menu{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 95px;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 50%);
    height: 0;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-dropdown-menu.open{
    height: 265px;
}

.nav-dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-dropdown-menu .nav-btn{
    width: 90%;
    display: flex;
    justify-content: center;
}
/*Nav Bar Drop Down Menu*/

/*Wavey Background*/
.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave{
    background-image: url('../svg/wave.svg');
}

.layered{
    background-image: url('../svg/layered.svg');
}
/*End of Wavey Background*/

/*Profile Text*/
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.profile-items{
    align-self: center;
    text-align: center;
    margin-top: 150px;
}

.profile-text1{
    font-size: 1.5rem;
}

.profile-text2{
    font-size: 3.5rem;
    font-weight: 600;
}

.profile-text3{
    font-size: 2.5rem;
}

.profile-text3 span{
    font-weight: 600;
    color: #0066FF;
}
/*Profile Text*/

/*Profile Picture and Social Icons*/
.profile-img{
    display: flex;
    margin-top: 120px;
    border-radius: 50%;
    border: 10px solid #0066FF;
}

.profile-img img{
    position: flex;
    background-color: #fff;
    border: 20px solid #fff;
    width: 650px;
    height: 700px;
    border-radius: 50%;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    font-size: 1.7rem;
    border: 0.2rem solid #0066FF;
    border-radius: 50%;
    color: #0066FF;
    margin: 15px 5px 0px; 
    transition: 0.3s ease;
}

.social-icons a:hover{
    color: white;
    transform: scale(1)translateY(-5px);
    background-color: #0066FF;
}
/*Profile Picture and Social Icons*/


/*Profile Button */
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-1, .btn-2, .btn-3{
    padding: 0.5rem 1.5rem;
    border-radius: 4rem;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 600;
}

.btn-1{
    background: transparent;
    border: 2px solid #0066FF;
}

.btn-2{
    background: #0066FF;
    border: 2px solid #fff;
}

.btn-1:hover{
    color: white;
    transform: scale(1.1);
    background-color: #0066FF;
}

.btn-2:hover{
    color: #002233;
    transform: scale(1.1);
    background-color: #fff;
}
/*Profile Button */

/*About Section*/
.text-container{
    margin-top: 2rem;
    text-align: justify;
    text-align-last: center;
    margin-left: 3vw;
    margin-right: 3vw;
}

.about-container{
    display: inline-flex;
    gap: 5rem;
    margin-top: 2rem;
}

.about-details-container{
    padding: 1.5rem;
    color:#002233;
    background: white;
    border-radius: 2rem;
    border: #0066FF 0.3rem solid;
    box-shadow: 10px 10px 0 #0066FF;
    width: 450px;
}

.about-details-header{
    font-weight: 600;
    font-size: 25px;
}

.about-details-text{
    text-align: left;
}

.btn-3{
    background: #0066FF;
    border: 2px solid #0066FF;
}

.btn-3:hover{
    color: #fff;
    transform: scale(1.1);
    background-color: #002233;
    border: 2px solid #002233;
}
/*About Section*/

/*Skill Section*/
.skill-container{
    display: inline-flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 8rem;
}

.skill-img .gifimg{
    width: 350px;
    height: 350px;
    border-radius: 10%;
}

.skill-img{
    background-color: #fff;
    border-radius: 12%;
    border: 10px solid #0066FF;
    max-height: 415px;
    color: #0066FF;
}

.skill-detail-container h2{
    font-weight: 600;
    margin-top: 40px;
}

.skill-detail-container{
    width: 1000px;
    background-color: #fff;
    box-shadow: 10px 10px 0 #0066FF;
    border: #0066FF 0.3rem solid;
    color:#002233;
    border-radius: 2rem;
}

.skill-details i{
    position: relative;
    font-size: 25px;
    top: 3px;
}

.skill-details{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    margin-top: 70px;
}
/*Skill Section*/

/*Project Section*/
.project-container{
    display: inline-flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 5rem;
}

.project-detail-container{
    color:#002233;
    background-color: #fff;
    box-shadow: 10px 10px 0 #0066FF;
    border: #0066FF 0.3rem solid;
    border-radius: 10%;
    width: 450px;
    height: 550px;
}

.project-detail-container img{
    width: 370px;
    height: 300px;
    border-radius: 10%;
    margin-top: 1.5rem;
}

.project-detail-text{
    margin-top: 2rem;
}

.project-detail-text h3{
    font-weight: 600;
}

.btn-4, .btn-5{
    border-radius: 4rem; 
    color: #fff;
    flex: 0 0 150px;
    height: 50px;
    margin-top: 2rem;
    transition: 0.3s ease;
}

.btn-4{
    background: #002233;
    border: 2px solid #002233;
}

.btn-5{
    background: #0066FF;
    border: 2px solid #0066FF;
}

.btn-4:hover, .btn-5:hover{
    transform: scale(1.05);
    background: transparent;
    border: 2px solid #002233;
    color: #002233;
}
/*Project Section*/

/*Contact Section*/
.contact-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    gap: 3rem;
}

.contact-mail, .contact-linkedin{
    color:#002233;
    background-color: #fff;
    box-shadow: 10px 10px 0 #0066FF;
    border: #0066FF 0.3rem solid;
    border-radius: 2rem;
    font-size: 1.3rem;
    padding-top: 22px;
    height: 100px;
    transition: 0.3s ease;
}

.contact-mail{
    width: 600px;
}

.contact-linkedin{
    width: 200px;
}

.contact-mail:hover, .contact-linkedin:hover{
    transform: scale(1.05);
    color: #fff;
    background-color: #002233;
}

.contact-mail i, .contact-linkedin i{
    position: relative;
    font-size: 2rem;
    top: 6px;
    right: 3px;
}
/*Contact Section*/

footer{
    background-color: #0066FF;
}
  
footer p{
    text-align: center;
}