@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/*General*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comfortaa', sans-serif;
    color: white;
    background: #002233;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}
/*General*/

/*Global*/
.section-title{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    padding: 0.8rem;
    width: 10rem;
    border-radius: 4rem;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hover-effect{
    transition: all 0.3s ease; 
}

.hover-effect:hover{
    transform: scale(1.05);
}

section {
    box-sizing: border-box;
    min-height: fit-content;
}

#about, #skill, #project, #contact{
    padding-top: 15rem;
    position: relative;
}
/*Global*/

/*Wavey Background*/
.spacer, .spacer2{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.spacer{
    aspect-ratio: 960/300;
}

.spacer2{
    aspect-ratio: 960/200;
}

.wave{
    background-image: url('../svg/wave.svg');
}

.layer{
    background-image: url('../svg/layer.svg');
}
/*Wavey Background*/

/* Nav-Bar */
.nav-bar{
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 0;
    right: 0;
    width: 65%;
    height: 70px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 0 20px 0 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 50%);
}
/* Nav-Bar */

/*Nav Brand Name*/
.nav-logo a{
    color: #002233;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-logo span{
    color: #0066FF;
}
/*Nav Brand Name*/

/*Nav Bar Links*/
.nav-links a, .nav-dropdown-menu a{
    color: #002233;
    font-weight: 600;
    font-size: 1.1rem;
    display: block;
    position: relative;
}

.nav-links a:hover, .nav-dropdown-menu a:hover{
    color: #0066FF;
    font-weight: 600;
}

.nav-links a::before, .nav-dropdown-menu a::before{
    content:"";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #0066FF;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-links a:hover::before, .nav-dropdown-menu a:hover::before{
    width: 100%;
    visibility: visible;
}

.nav-links{
    display: flex;
    gap: 2rem;
}
/*Nav Bar Links*/

/* Nav Bar Download Btn */
.nav-btn{
    background-color: #0066FF;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-btn:hover{
    transform: scale(1.05);
    background-color: #002233;
}
/* Nav Bar Download Btn */

/*Nav Bar Drop Down Toggle*/
.nav-toggle{
    color: #002233;
    font-size: 2rem;
    position: relative;
    top: 5px;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}

.nav-toggle:hover{
    color: #0066FF;
    transform: scale(1.2);
}
/*Nav Bar Drop Down Toggle*/

/*Nav Bar Drop Down Menu*/
.nav-dropdown-menu{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 95px;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 50%);
    height: 0;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav-dropdown-menu.open{
    height: 265px;
}

.nav-dropdown-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-dropdown-menu .nav-btn{
    width: 90%;
    display: flex;
    justify-content: center;
}
/*Nav Bar Drop Down Menu*/

/*Profile Section*/
#profile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 130px;
}

.profile-items{
    align-self: center;
    text-align: center;
}
  
.profile-text-p1{
    font-size: 1.2rem;
}
  
.profile-text-p2{
    font-size: 1.75rem;
}

.profile-text-p2 span{
    color: #0066FF;
    font-weight: 600;
}

.profile-name{
    font-weight: 600;
}
/*Profile Section*/

/*Profile Picture and Social Icons*/
.profile-img-container{
    display: flex;
    margin: auto 0;
    justify-content: center;
    border-radius: 50%;
    border: 10px solid #0066FF;
}

.profile-img-container img{
    background-color: #fff;
    border: 20px solid #fff;
    width: 550px;
    height: 600px;
    border-radius: 50%;
}

.profile-icons-container a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 15px 5px 0px; 
    width: 3rem;
    height: 3rem;
    background: transparent;
    font-size: 1.7rem;
    border: 0.2rem solid #0066FF;
    border-radius: 50%;
    color: #0066FF;
}

.profile-icons-container a:hover{
    color: white;
    transform: scale(1)translateY(-5px);
    background-color: #0066FF;
}
/*Profile Picture and Social Icons*/

/*Profile Download Btn*/
.btn-1{
    background: transparent;
    border: 2px solid #0066FF;
}

.btn-1:hover{
    color: white;
    transform: scale(1.1);
    background-color: #0066FF;
}

.btn-2{
    background: #0066FF;
    border: 2px solid #fff;
}

.btn-2:hover{
    color: #002233;
    transform: scale(1.1);
    background-color: #fff;
}
/*Profile Download Btn*/

/*About Section*/
.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    max-width: 1800px;
    margin: 2rem auto 0;
    padding: 0 50px 0;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: #fff;
    border-radius: 2rem;
    text-align: center;
    color:#002233;
    border: #0066FF 0.3rem solid;
    box-shadow: 10px 10px 0 #0066FF;
}

.about-header{
    font-weight: 600;
    font-size: 25px;
}

.about-text{
    text-align: left;
}

.btn-3{
    width: 15rem;
    background: #0066FF;
    border: 2px solid #0066FF;
}

.btn-3:hover{
    color: #fff;
    transform: scale(1.1);
    background-color: #002233;
    border: 2px solid #002233;
}
/*About Section*/

/*Skill Section*/
.skill-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    gap: 3rem;
    padding: 0 50px 0;
}

.skill-img .gifimg{
    width: 350px;
    height: 350px;
    border-radius: 10%;
}

.skill-img{
    background-color: #fff;
    border-radius: 12%;
    border: 10px solid #0066FF;
    max-height: 415px;
    color: #0066FF;
}

.skill-detail-container h2{
    font-weight: 600;
    margin-top: 40px;
}

.skill-detail-container{
    width: 1300px;
    background-color: #fff;
    box-shadow: 10px 10px 0 #0066FF;
    border: #0066FF 0.3rem solid;
    color:#002233;
    border-radius: 2rem;
}

.skill-details i{
    position: relative;
    font-size: 30px;
    top: 5px;
}

.skill-details{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    margin-top: 50px;
    padding: 0 20px 0;
}
/*Skill Section*/

/*Project Section*/
.project-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.project-detail-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 1800px;
    margin: 2rem auto 0;
    padding: 0 50px 0;
}

.project-details{
    padding: 1.5rem;
    flex: 1;
    background: #fff;
    border-radius: 2rem;
    text-align: center;
    color:#002233;
    border: #0066FF 0.3rem solid;
    box-shadow: 10px 10px 0 #0066FF;
}

.project-img-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

.project-img-container img{
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title{
    font-weight: 600;
    font-size: 1.75rem;
    margin: 2rem 0 1rem;
}

.project-details p{
    margin: 2rem 0 2rem;
}

.btn-4{
    background: #002233;
    border: 2px solid #002233;
}

.btn-5{
    background: #0066FF;
    border: 2px solid #0066FF;
}

.btn-4:hover, .btn-5:hover{
    transform: scale(1.05);
    background: transparent;
    border: 2px solid #002233;
    color: #002233;
}
/*Project Section*/

/*Contact Section*/
.contact-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 3rem;
}

.contact-mail, .contact-linkedin{
    color:#002233;
    background-color: #fff;
    box-shadow: 10px 10px 0 #0066FF;
    border: #0066FF 0.3rem solid;
    border-radius: 2rem;
    font-size: 1.3rem;
    padding-top: 22px;
    height: 100px;
    transition: 0.3s ease;
}

.contact-mail{
    width: 600px;
}

.contact-linkedin{
    width: 200px;
}

.contact-mail:hover, .contact-linkedin:hover{
    transform: scale(1.05);
    color: #fff;
    background-color: #002233;
}

.contact-mail i, .contact-linkedin i{
    position: relative;
    font-size: 2rem;
    top: 6px;
    right: 3px;
}
/*Contact Section*/

/*Arrow Btn*/
#arrowbtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: #0066FF 0.2rem solid;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    transition: 01s ease;
}
  
#arrowbtn:hover{
    transform: scale(1.05)translateY(-15px);
    box-shadow: 0px 7px 0 #0066FF;
}
/*Arrow Btn*/

/*Footer*/
footer {
   text-align: center;
   padding-bottom: 1px;
   background-color: #0066FF;
}
/*Footer*/